<header class="container-fluid bg-primary">
  <h1 class="text-center text-white p-1">TO-DO Application</h1>
</header>
<main>
  <div class="row" style="height: 80vh">
    <div class="col-3 bg-dark">
      <form
        #todoForm="ngForm"
        class="bg-white p-3 m-2"
        (ngSubmit)="addTask(todoForm)"
      >
        <input
          type="text"
          class="form-control"
          id="task"
          aria-describedby="emailHelp"
          ngModel
          name="task"
          required
          placeholder="Enter the task"
        />
        <div id="emailHelp" class="form-text">Add Task Name</div>
        <div class="text-center">
          <button
            class="btn btn-primary text-white"
            [disabled]="todoForm.invalid"
          >
            ADD
          </button>
        </div>
      </form>
    </div>
    <div class="col-9">
      <app-tasks [task]="taskName"></app-tasks>
    </div>
  </div>
</main>
<footer>
  <p class="text-center">All rights reserved by sarath santhosh &copy;2022</p>
</footer>
